body {
    background-color: rgb(17, 17, 17);
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    margin: auto;
    text-align: center;
}

.title h1{
    color: white;
    font-size: 5em;
    font-weight: 200;
}

#input{
    margin: auto;
    text-align: center;
}

#input button{
    color: rgb(17,17,17);
    background-color: rgb(255, 66, 66);
    border: none;
    padding: 1.4em 1.8em;
    margin: 1em;
    font-weight: 900;
    font-size: 1.4em
}

#input button:hover{
    background-color: rgb(219, 104, 104);
}

#input button:active{
    background-color: rgb(104, 50, 50);
}

#input button:enabled{
    border: none;
    outline: none;
}

#input button:disabled{
    background-color: rgb(104, 50, 50);
}

.results {
    margin: auto;
    margin-top: 2em;
    padding-top: 0.5em;
    text-align: center;
    line-height: 0.3em;
}

.results h3 {
    color: white;
    font-size: 3.8em;
    font-weight: 900;
    margin-top: 2.2em;
}

.results h3#positive{
    color: rgb(136, 224, 63);
}

.results h3#negative{
    color: rgb(224, 63, 63);
}

.results h3#neutral{
    color: rgb(255, 94, 0);
}

.results h4{
    font-size: 1.8em;
    text-align: center;
    color: rgb(134, 134, 134);
}




